div(class='ui secondary vertical menu')
  a(class='item' href='/authors') Authors
  a(class='item' href='/categories') Category Types
  a(class='item' href='/content_types') Content Types
  a(class='item' href='/posts') Posts


