footer(class='footer')
  div(class='ui black inverted vertical footer segment')
    div(class='ui center aligned container')
      p &copy BI-STEPS.COM 2018
      a(href='/') Home |
      a(href='/')  About |
      a(href='/')  Contact |
      a(href='/')  Privary Policy

