header
	div(class='ui container')
		div(class='ui hidden divider')
		div(class='ui stackable secondary menu')
			div(class='header item')
				a(href='/') BI-STEPS.COM
			a(class='item' href='/') Home
			a(class='item' href='/about') About
			a(class='item' href='/contact') Contact
			a(class='item' href='/') More Stuff..
			if(currentUser)
				a(class='item' href='/admin') Admin
				a(class='item' href='/register/logout') Log Out
			else
				a(class='item' href='/login') Log In
			div(class='right item')
				div(class='ui icon input')
					form(action='/search' method='post')
						input(type='text' placeholder='Search...' name='text_search')
					i(class='search icon')
		div(class='ui hidden divider')
		div(class='ui hidden divider')

