header
  div(class='ui container')
    div(class='ui text huge stackable menu')
      div(class='header item')
        a(href='/') BI STEPS.COM
      a(class='item' href='/') Home
      a(class='item' href='/') About
      a(class='item' href='/') Contact
      a(class='item' href='/') More Stuff..
      a(class='item' href='/') Sign In
      a(class='item' href='/admin') Admin
      div(class='right item')
      div(class='ui icon input')
        input(
          type='text'
          placeholder='Search...'
        )
        i(class='search icon')
  div(class='ui hidden divider')