doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='plus circle icon')
					div(class='content') Add New Content Type
						div(class='sub header') Add new content type form.
				div(class='ui divider')
				form(class='ui form' action='/content_types' method='post')
					div(class='field')
						label(for='description') Description:
						input(type='text' id='description' name='description')
					div(class='field')
						label(for='sequence') Sequence:
						input(type='number' id='sequence' name='sequence' value=count + 1)
					button(class='ui primary button' type='submit') Save
				div(class='ui hidden divider')
				a(href='/content_types')
					i(class='arrow circle left icon')
					span Back
				include ../includes/messages
		include ../includes/scripts
		include ../includes/footer


