doctype html
html
	include includes/head
	body
		include includes/header
		div(class='ui grid container content')
			div(class='eleven wide column')
				h3(class='ui header') About Us
				p At BI Steps, we enjoy data and working with data. We also enjoy writing and learning about new ways to do things with data. Over the past decade, data warehouses and business intelligence systems has been our specialty.
				p Microsoft Business Intelligent Development Studio (BIDS) has been our go to platform. We spend most of our time using SSIS, SSMS, SSAS, and SSRS.
				p We try and pick up things here and there from colleagues, vendors, the web, books and other sources. BI-Steps.com was created with the hopes of providing useful stepping tools for those out there that are new to the world of data, a business intelligence platform, or MS SQL in general. You have to start somewhere right...
				p From all of us at BI-Steps, we hope you enjoy the site and thank you for visiting.
				div(class='ui hidden divider')
				a(href='/')
					i(class='arrow circle left icon')
					span Back
		div(class='push')
		include ./includes/scripts
		include ./includes/footer


