doctype html
html
  include includes/head
  body
    include includes/header
    div(class='ui grid container content')
      div(class='ui container')
        h2(class='ui header')
          i(class='cogs icon')
          div(class='content') Admin Page
            div(class='sub header') Add content to your blogs here.
          div(class='ui divider')
          include includes/admin_menu
    include ./includes/scripts
    include ./includes/footer


