doctype html
html
	include includes/head
	body
		include includes/header
		div(class='ui grid container content')
			div(class='eleven wide column')
				h3(class='ui header') Privacy Policy
				div(class='ui divider')
				h5(class='ui header') Your Privacy
				p Your privacy is very important to us. The intent of this policy is to inform you of our policy regarding the collection, use and disclosure of personal information gathered via forms, emails, or other means from our site visitors. The privacy policy can be found on the footer of each site within the BI-STEPS.COM domain.
				h5(class='ui header') Personal Information
				p We use personal information only for improving BI-STEPS.COM and the user experience. Personal identifiable information may include, but is not limited to your name and email address. We do not sell or distribute this information for personal or monetary gain and we do not share this information with third parties.
				h5(class='ui header') Advertisements and Sponsored Links
				p Clicking on any advertisements or sponsored links found on the site will send you to the advertisers website which may use cookies and will track the number of referrals sent from this website. Users that click on sponsored external links do so at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.
				h5(class='ui header') Changes to the Privacy Policy
				p The contents of the Privacy Policy may be changed at any time, at our discretion. If you have any questions in regards to this policy, please feel free to contact us via the contact form on the contact page.
				div(class='ui hidden divider')
				a(href='/')
					i(class='arrow circle left icon')
					span Back
		div(class='push')
		include ./includes/scripts
		include ./includes/footer


