doctype html
html
	include includes/head
	body
		include includes/header
		div(class='ui grid container')
			div(class='eleven wide column')
				h3(class=ui header) Upload Test
				form(action='/upload' enctype='multipart/form-data' method='post')
					input(type='text' name='title')
					input(type='file' name='file')
					input(type='submit' value='Upload')
		include ./includes/scripts
		include ./includes/footer


