doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='edit icon')
					div(class='content') Edit Author
						div(class='sub header') Edit existing author.
				div(class='ui divider')
				form(class='ui form' action='/roles/'+ role._id +'?_method=PUT' method='post')
					div(class='field')
						label(for='description') Role Description:
						input(type='text' id='description' name='description' value=role.description)
					button(class='ui primary button' type='submit') Save
				div(class='ui hidden divider')
				a(href='/roles')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer