doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='user-secret')
					div(class='content') Roles
						div(class='sub header') Add, edit, and delete roles.
				div(class='ui divider')
				table(class='ui very basic table')
					thead
						tr
							th Description
							th Actions
					tbody
						each role in roles
							tr
								td #{role.description}
								td
									form(class='ui form delete-button' action='/roles/' + role._id + '?_method=DELETE' method='post')
										div(class='ui buttons')
											a(class='ui primary basic button' href='/roles/' + role._id + '/edit')
												i(class='edit icon')
												span Edit
											button(type='submit' class='ui primary basic button' Onclick='return ConfirmDelete()' value='Delete')
												i(class='trash icon')
												span Delete
					tfoot(class='full-width')
						tr
							th
								a(href='authors/new' class='ui primary button')
									i(class='plus icon')
									span Add Roles
							th
							th
				div(class='ui hidden divider')
				a(href='/admin')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer


