doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='plus circle icon')
					div(class='content') Add New Role
						div(class='sub header') Add new role form.
				div(class='ui divider')
				form(class='ui form' action='/roles' method='post')
					div(class='field')
						label(for='description') Role Description:
						input(type='text' id='description' name='description')
					button(class='ui primary button' type='submit') Save
				div(class='ui hidden divider')
				a(href='/roles')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer


