html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: inline-block;
}

.content {
  flex: 1 0 auto;
}

.footer {
  margin-top: 35px;
  flex-shrink: 0;
}

.blog-summary {
  margin-top: 20px;
}

.admin-menu {
  margin-top: 20px;
}

.admin-segment:hover {
  background-color: #fcfcfc;
}

.delete-button {
  display: inline-block;
}

.submit-link {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #4183c4;
  cursor: pointer;
}
.submit-link:focus {
  outline: none
}

