doctype html
html
	include ../includes/head
	body(class='Site')
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='plus circle icon')
					div(class='content') Add Post Details
						div(class='sub header') Add post details form.
				div(class='ui divider')
				form(class='ui form' action='/posts/'+ post._id +'/show/post_details' enctype='multipart/form-data' method='post')
					div(class='field')
						label Content Type:
						div(class='ui selection dropdown')
							input(name='content_type' type='hidden')
							i(class='dropdown icon')
							div(class='default text') Select one...
							div(class='menu')
								each content_type in content_types
									div(class='item' data-value=content_type._id) #{content_type.description}
					div(class='field')
						label(for='content') Content:
						textarea(id='content' name='content' placeholder='Enter content here...')
					div(class='field')
					each c in count
						label(for='sequence') Sequence:
						input(type='number' id='sequence' name='sequence' value=c.count + 1)
					else
						label(for='sequence') Sequence:
						input(type='number' id='sequence' name='sequence' value=1)
					div(class='field')
						label(for='file_name') Upload File:
						input(type='file' id='file_name' name='file_name' multiple)
					button(class='ui primary button' type='submit') Save
				div(class='ui hidden divider')
				a(href='/posts/' + post._id + '/show')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer