doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container')
			div(class='ui container')
				h2(class='ui header')
					i(class='edit icon')
					div(class='content') Edit Author
						div(class='sub header') Edit existing author.
				div(class='ui divider')
				form(class='ui form' action='/authors/'+ author._id +'?_method=PUT' method='post')
					div(class='field')
						label(for='name') Full Name:
						input(type='text' id='name' name='name' value=author.name)
					div(class='field')
						label(for='bio') Bio:
						textarea(id='bio' name='bio') #{author.bio}
					button(class='ui primary button' type='submit') Save
				div(class='ui hidden divider')
				a(href='/authors')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer