doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container')
			div(class='ui container')
				h2(class='ui header')
					i(class='users icon')
					div(class='content') Authors
						div(class='sub header') Add, edit, and delete authors.
				div(class='ui divider')
				table(class='ui very basic table')
					thead
						tr
							th Name
							th Bio
							th Actions
					tbody
						each author in authors
							tr
								td #{author.name}
								td #{author.bio}
								td
									a(href='/authors/' + author._id + '/edit')
										i(class='edit icon')
										span Edit
									form(class='ui form delete-button' action='/authors/' + author._id + '?_method=DELETE' method='post')
										button(type='submit' class='submit-link' Onclick='return ConfirmDelete()' value='Delete')
											| |
											|
											i(class='trash icon')
											span Delete
					tfoot(class='full-width')
						tr
							th
								a(href='authors/new' class='ui primary button')
									i(class='plus icon')
									span Add Authors
							th
							th
				div(class='ui hidden divider')
				a(href='/admin')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer


