doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='users icon')
					div(class='content') Authors
						div(class='sub header') Add, edit, and delete authors.
				div(class='ui divider')
				table(class='ui very basic table')
					thead
						tr
							th First Name
							th Last Name
							th Bio
							th Actions
					tbody
						each author in authors
							tr
								td #{author.first_name}
								td #{author.last_name}
								td #{author.bio}
								td
									form(class='ui form delete-button' action='/authors/' + author._id + '?_method=DELETE' method='post')
										div(class='ui buttons')
											a(class='ui primary basic button' href='/authors/' + author._id + '/edit')
												i(class='edit icon')
												span Edit
											button(type='submit' class='ui primary basic button' Onclick='return ConfirmDelete()' value='Delete')
												i(class='trash icon')
												span Delete
					tfoot(class='full-width')
						tr
							th
								a(href='authors/new' class='ui primary button')
									i(class='plus icon')
									span Add Authors
							th
							th
							th
				div(class='ui hidden divider')
				div(class='ui container')
					a(href='/admin')
						i(class='arrow circle left icon')
						span Back
				include ../includes/messages
		include ../includes/scripts
		include ../includes/footer


